@import url('base.css');
/* 头部开始 */
header{
	width: 100%;
	height: 0.9rem;
	background-image:-webkit-linear-gradient(left,#31ffd1,#bee5e3);
	font-size: 0.4rem;
	color: #000;
	text-align: center;
	line-height: 0.9rem;
/* 	position: absolute; */
} 
.Close i{
	display: block;
	float: left;
	color: #fff;
	font-size: 0.4rem;
	margin-left: 1rem;
/* 	position: absolute; */
}
.share i{
	display: block;
	float: right;
	color: #fff;
	font-size: 0.4rem;
	margin-right: 1rem;
/* 	position: absolute; */
}
/* 头部结束 */
/* 图开始 */
.tu{
	width: 7rem;
	height: 3.5rem;
/* 	background:yellow; */
	margin: 0 auto;
}
/* 图结束 */
/* 详情开始 */
.xiangqing{
	width: 7rem;
	height: 6.69rem;
/* 	background: blue; */
	margin: 0 auto;
}
.xiangqing li{
	width: 100%;
	height: 2.23rem;
/* 	background: pink; */
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}
.shangpin{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}
.shangpin h1{
	font-size: 0.4rem;
	color: #000;
}
.shangpin h2{
	font-size: 0.24rem;
	color: #000;
}
.shangpin h3{
	font-size: 0.34rem;
	color: red;
}
.gouwu{
	width: 2.13rem;
	height: 0.43rem;
	position: absolute;
	top: 1.6rem;
	right: 1rem;
}
.shangpin1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}
.shangpin1 h1{
	font-size: 0.4rem;
	color: #000;
}
.shangpin1 h2{
	font-size: 0.24rem;
	color: #000;
}
.hei{
	width: 0.15rem;
	height: 0.15rem;
	background: #000;
	border-radius: 0.5rem;
	top: 0.9rem;
	left: 0.2rem;
	position: absolute;
}
.hei1{
	width: 0.15rem;
	height: 0.15rem;
	background: #000;
	border-radius: 0.5rem;
	top: 1.4rem;
	left: 0.2rem;
	position: absolute;
}
.hei2{
	width: 0.15rem;
	height: 0.15rem;
	background: #000;
	border-radius: 0.5rem;
	top: 1.9rem;
	left: 0.2rem;
	position: absolute;
}
.shangpin2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}
.shangpin2 h1{
	font-size: 0.4rem;
	color: #000;
}
.shangpin2 h2{
	font-size: 0.24rem;
	color: #000;
}
.hei3{
	width: 0.15rem;
	height: 0.15rem;
	background: #000;
	border-radius: 0.5rem;
	top: 1.6rem;
	left: 0.2rem;
	position: absolute;
}
/* 详情结束 */
/* 评论开始 */
.pinglun{
	width: 7rem;
	height: 0.6rem;
/* 	background: red; */
	margin: 0 auto;
}
.pinglun h1{
	font-size: 0.24rem;
	color: #000;
	text-align: center;
	line-height: 0.6rem;
	margin-left: 0.25rem;
	float: left;
}
.pinglun h2{
	font-size: 0.24rem;
	color: #000;
	text-align: center;
	line-height: 0.6rem;
	margin-right: 0.2rem;
	float: right;
}
.pinglun i{
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.6rem;
	margin-right: 0.2rem;
	float: right;
}
.ping{
	width: 7rem;
	height: 6rem;
/* 	background: green; */
	margin: 0 auto;
}
.ping li{
	width: 100%;
	height: 1.2rem;
/* 	background: pink; */
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}
.tiao{
	width: 100%;
	height: 1.2rem;
/* 	background: red; */
	position: relative;
}
.yuan{
	width: 1rem;
	height: 1rem;
/* 	background: blue; */
	border-radius: 50%;
	position: absolute;
	top: 0.15rem;
	left: 0.2rem;
}
.yuan img{
	width: 1rem;
	height: 1rem;
	background: blue;
	border-radius: 50%;
}
.tiao h1{
	font-size: 0.24rem;
	color: #000;
	position: absolute;
	top: 0.2rem;
	left:1.3rem ;
}
.tiao p{
	font-size: 0.22rem;
	color: #a3a3a3;
	position: absolute;
	top: 0.6rem;
	left:1.3rem ;
}
.tiao h2{
	font-size: 0.22rem;
	color: #a3a3a3;
	position: absolute;
	top: 0.2rem;
	right:0.5rem ;
}
/* 评论结束 */